footer {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

footer .data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

h3 {
  display: flex;
  gap: 20px;
}

h3 a {
  text-decoration: none;
  color: white;
}

.to-cart {
  word-spacing: 1px;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  h3 {
    font-size: 14px;
  }
}
