.content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  width: 100vw;
  padding: 60px 0px;
}

.content .details {
  padding: 80px;
  text-align: center;
}

.content .theme {
  font-size: 40px;
}

.content .data-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.content .data-submit .username {
  width: 250px;
  height: 35px;
  border: 1px solid lightgray;
  font-size: 15px;
  padding: 5px 20px;
  font-weight: 500;
}

.content .data-submit .username::placeholder {
  opacity: 0.6;
}

.content .message {
  word-spacing: 10px;
  font-size: 20px;
}

.content .username {
  border-radius: 25px;
  padding: 5px;
  font-size: 15px;
  outline: none;
  transition: border 0.3s ease;
}

.content .username:focus {
  outline: none;
  border: 4px solid var(--bg-color);
}

.content .submit {
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--bg-color);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.wrap {
  text-wrap: wrap;
  color: var(--bg-color);
}

.link {
  background-color: var(--bg-color);
  text-decoration: none;
  color: black;
  padding: 20px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 40px;
  text-transform: uppercase;
  word-spacing: 5px;
}

@media screen and (max-width: 576px) {
  .link {
    font-size: 14px;
    word-spacing: 3px;
    width: 70vw;
    padding: 15px;
    letter-spacing: -2px;
  }
}
