.place-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  gap: 30px;
  width: auto;
  overflow-x: hidden;
}

.order-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}

.order-contents .caption {
  padding: 25px 0px;
}

.order-contents .order-details {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}

.order-contents .order-details .order-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
  width: auto;
}
.data-field {
  width: 550px;
}
.data-field input {
  height: 20px;
  padding: 10px 20px;
  width: min(40vw, 100%);
  border: 3px solid lightgray;
  border-radius: 20px;
  font-size: 20px;
  transition: border 0.2s ease;
}

.data-field input:focus {
  outline: none;
  border: 3px solid var(--bg-color);
}

.order-contents input[type="checkbox"] {
  height: 30px;
  width: 30px;
  padding: 0px;
}

.order-contents .order-priority {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 50px;
  align-items: center;
  font-weight: 600;
}

.place-order-btn {
  background-color: var(--bg-color);
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  word-spacing: 5px;
  cursor: pointer;
}

.place-order-btn:hover {
  background-color: #fabc64;
}

.place-order-btn:focus {
  border: 2px solid white;
  outline: 3px solid var(--bg-color);
}

.checkbox {
  accent-color: var(--bg-color);
  border: 5px solid white;
}

.checkbox:focus {
  outline: 2px solid white;
  border: 3px solid var(--bg-color);
}

.order-contents input[type="checkbox"]:focus {
  border: 2px solid white;
  outline: 3px solid var(--bg-color);
}

.error {
  width: min(40vw, 100%);
  background-color: rgb(234, 207, 207);
  color: rgb(219, 0, 0);
  margin: 5px;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 13px;
  align-items: center;
}
.empty {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 18px;
  padding-top: 15px;
}
.empty h1 {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 1360px) {
  .order-contents .order-details .order-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

@media screen and (max-width: 576px) {
  .place-order {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 11px;
  }
  .order-contents {
    width: 80vw;
  }
  .order-contents .order-priority {
    padding-bottom: 25px;
  }
  .data-field input {
    width: 60vw;
  }

  .order-contents input[type="checkbox"]:focus {
    outline: none;
  }
  .empty {
    width: 98vw;
    display: flex;
    justify-content: flex-start;
  }
  .error {
    width: 60vw;
  }
}
